@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: linear-gradient(20deg, #5e29b7 0%,#d589b8 33%,#dbe1f7 100%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

form {
    padding: 0;
    margin: 0;
}

.forms__wrapper, .files__wrapper {
    width: 370px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    text-align: left;
}

.downloadForm__button, .uploadButton {
    font-family: Roboto;
    width: 100px;
    height: 35px;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    transition: 200ms;
    outline: none;
}

.downloadForm__button.enabled:hover, .uploadButton.enabled:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    background-color: #5e29b7;
    color: white;
    cursor: pointer;
}


.downloadForm__text {
    font-family: Roboto;
    height: 35px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-radius: 5px 5px 0 0;
    padding: 0;
    margin: 0;
    transition: 100ms;
    color: white;
    padding-bottom: 2px;
    outline: none;
}

.downloadForm__text:-webkit-autofill,
.downloadForm__text:-webkit-autofill:hover, 
.downloadForm__text:-webkit-autofill:focus, 
.downloadForm__text:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #dda6ca inset !important;
}

.downloadForm__text:focus {
    border-bottom: 3px solid #5e29b7;
    color: #5e29b7;
    padding-bottom: 0px;
}

.uploadForm, .downloadForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.uploadProgress {
    font-family: Roboto;
    background: #f0f0f0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 0px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}
    
.uploadProgress__bar {
    text-align: center;
    font-family: Roboto;
    color: white;
    transition: 600ms;
    background: #5e29b7;
    width: 0%;
    height: 100%;
    border-radius: 5px;
}

.downloadProgress {
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.downloadProgress__bar {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
    transition: 600ms;
    background: #5e29b7;
    width: 0%;
    height: 100%;
}

.image {
    display: none;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.image__wrapper {
    width: 100%;
}

.files__wrapper {
    text-align: center;
}

.files__header {
    text-shadow: 0 0 3px black;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.files__info {
    color: gray;
    font-family: Roboto;
    font-size: 13px;
}

.filesList__container {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Roboto;
}

.filesList__item {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    margin: 5px 0;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 300;
}

.filesList__item:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    background-color: #5e29b7;
    color: white;
    cursor: pointer;
}

.uploadForm__content{
    font-family: Roboto;
    font-size: 16px;
    transition: 200ms;
    margin: 0;
    text-shadow: 0 0 3px black;
    color: white;
}

.uploadForm__content.enabled {
    color: white;
    cursor: pointer;
}

.uploadForm__content.enabled:hover {
    color: #5e29b7;
    text-shadow: 0 0 1px #575757;
}

.uploadForm__content.disabled {
    cursor: default;
    color: #a1a1a1;
    text-shadow: none;
}

.uploadForm__file__wrapper{
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.uploadForm__file {
    display: none;
}

/* Notification */

.notifications__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 20px;
    right: 20px;
}

.notify {
    font-family: 'Roboto';
    width: 300px;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.notify__header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px 10px 0 0;
}

.notify__header__icon {
    font-size: 28px;
}
.notify__header__text {
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    line-height: 1;
    background-color: transparent;
}

.notify__body {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 10px 10px;
}

.notify__body__text {
    font-weight: 300;
}

.notify--info {
    color: #2ecc71;
}

.notify--warning {
    color: #f1c40f;
}

.notify--error {
    color: #c0392b;
}